# Introduction to Python

NOTE: This is a Jupyter Notebook

- Combine text and code easily
- Reproducible outcome
- Easy to share
- Other way: Python script (see example)

## Fundamentals

- Console for simple calculations
- Variable assignment: `=`
- Different basic data types: integers, floats, strings, booleans
- As you execute commands, you accumulate a namespace

In [62]:
score = 12

In [63]:
score

12

In [64]:
course = "algebra"

In [65]:
passed = True

In [66]:
dir()

['In',
 'Out',
 '_',
 '_11',
 '_13',
 '_14',
 '_15',
 '_16',
 '_17',
 '_2',
 '_22',
 '_23',
 '_30',
 '_33',
 '_36',
 '_38',
 '_39',
 '_40',
 '_42',
 '_43',
 '_44',
 '_46',
 '_47',
 '_48',
 '_56',
 '_57',
 '_58',
 '_6',
 '_63',
 '_7',
 '_8',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 '_sh',
 'course',
 'courses',
 'df',
 'exit',
 'get_ipython',
 'grades',
 'h',
 'hobbies',
 'my_mean',
 'np',
 'other_scores',
 'passed',
 'pd',
 'quit',
 'score',
 'scores',
 'summ',
 'temp_celsius']

## Data structures

### Lists

- 1-dimensional
- heterogeneous content
- Create and subset with `[]`
- Can't name elements
- No element-wise calculations

In [67]:
scores = [12, 17, 19, 9]

In [68]:
scores

[12, 17, 19, 9]

In [69]:
courses = ["algebra", "physics", "management", "religion"]

In [70]:
courses

['algebra', 'physics', 'management', 'religion']

In [71]:
courses[0] # zero based indexing!!

'algebra'

In [72]:
courses[-1]

'religion'

In [73]:
courses[0:2] # last index is not kept!

['algebra', 'physics']

In [74]:
other_scores = [10, 18, 18, 14]

In [75]:
scores - other_scores

TypeError: unsupported operand type(s) for -: 'list' and 'list'

### Dictionaries

- Look-up table of key value pairs
- Easy to name elements
- Can't do vectorized calculations
- Can easily be nested

In [76]:
grades = {'algebra': 12, 'physics': 17, 'management': 19, 'religion': 9}

In [77]:
grades

{'algebra': 12, 'management': 19, 'physics': 17, 'religion': 9}

In [78]:
grades['algebra']

12

### Combining dictionaries and lists

In [79]:
summ = [{'class': 'algebra', 'score': 12, 'passed': True },
        {'class': 'physics', 'score': 17, 'passed': True },
        {'class': 'management', 'score':19, 'passed': True },
        {'class': 'religion', 'score': 9, 'passed': False }]

In [80]:
summ

[{'class': 'algebra', 'passed': True, 'score': 12},
 {'class': 'physics', 'passed': True, 'score': 17},
 {'class': 'management', 'passed': True, 'score': 19},
 {'class': 'religion', 'passed': False, 'score': 9}]

### Better alternatives for Data Science: Numpy

- Single-type array
- Element-wise calculations
- Very fast (optimized in C)

In [81]:
import numpy as np
scores = np.array([12, 17, 19, 9])
other_scores = np.array([10, 18, 18, 14])
scores - other_scores

array([ 2, -1,  1, -5])

### Better alternatvies for Data Science: Pandas DataFrame

- To store tabular data
- Rows and columns
- Easy indexing of rows and columns

In [82]:
import pandas as pd
summ = [{'class': 'algebra', 'score': 12, 'passed': True },
        {'class': 'physics', 'score': 17, 'passed': True },
        {'class': 'management', 'score':19, 'passed': True },
        {'class': 'religion', 'score': 9, 'passed': False }]
df = pd.DataFrame(summ)
df

        class passed  score
0     algebra   True     12
1     physics   True     17
2  management   True     19
3    religion  False      9

In [83]:
df['class']

0       algebra
1       physics
2    management
3      religion
Name: class, dtype: object

In [84]:
df.iloc[1, 2]

17

In [85]:
df['score'][1]

17

## Functions and packages

### Functions
- Solve a particular, well-defined problem
- Black-box principle
- Ton of them available in packages
- Possible to write your own

In [86]:
def my_mean(lst):
    sum = 0.0;
    for i in lst:
        sum += i / len(lst);
    return sum

In [87]:
scores = [12, 17, 19, 9]
my_mean(scores)

14.25

### Packages

- Google is your friend
- Packages for practially everything
- Easy installation with `pip`

In [88]:
import numpy as np
scores = np.array([12, 17, 19, 9])
np.mean(scores)

14.25

## Other programming concepts

### Control Structures

In [89]:
temp_celsius = 68
if temp_celsius <= 0 :
  print("Brrrr!")
else :
  print("It's not freezing.")

It's not freezing.

In [90]:
hobbies = ["cycling", "movies", "data science"]
for h in hobbies :
  print(h)

cycling
movies
data science